---
layout: page
title: Projects
permalink: /projects/
---

{% for project in site.posts %}
    {% if project.title %}
    {% if project.type == "project" %}
        {% if forloop.first == true %}
        <header class="post-header">
        {% else %}
        <header class="post-header top-border-black">
        {% endif %}
        <h1 class="post-title" itemprop="name headline">
            <a class="post-link" href="{{ project.url }}">{{ project.title }}</a>
            <p class="post-meta">
                tags:
                {% if project.location %}
                {{ project.location }},
                {% endif %}
                {% for tag in project.categories %}
                {{ tag }}{% unless forloop.last == true %},{% endunless %}
                {% endfor %}
            </p>
        </h1>
        {% if project.description %}
        <p>
            {{ project.description }}
        </p>
        {% endif %}
    </header>
    {% endif %}
    {% endif %}
{% endfor %}
