---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">
            {{ page.title }}
            <p class="post-meta">
                tags:
                {% if page.location %}
                {{ page.location }},
                {% endif %}
                {% for tag in page.categories %}
                {{ tag }}{% unless forloop.last == true %},{% endunless %}
                {% endfor %}
            </p>
        </h1>
    </header>
    <div class="post-content" itemprop=articleBody>
        <p class="post-description">
            <h3 class="post-title">
            Overview:
            </h3>
            {{ content }}
        </p>
    </div>

    {% if page.my_role %}
    <div class="post-content" itemprop=articleBody>
        <p class="post-description">
            <h3 class="post-title">
            My Role:
            </h3>
            {{ page.my_role }}
        </p>
    </div>
    {% endif %}

    {% if page.background %}
    <div class="post-content" itemprop=articleBody>
        <p class="post-description">
            <h3 class="post-title">
            Background:
            </h3>
            {{ page.background }}
        </p>
    </div>
    {% endif %}
</article>
